In [14]:
#LESSER OF TWO EVENS: A function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
    #a = int(input("Enter a number "))
    #b = int(input("Enter another number "))
    
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b

In [15]:
lesser_of_two_evens(14,2)

2

In [18]:
#LESSER OF TWO EVENS: A function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
       if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b

In [19]:
lesser_of_two_evens(14,2)

2

In [20]:
lesser_of_two_evens(14,22)

14

In [21]:
lesser_of_two_evens(15,2)

In [22]:
#LESSER OF TWO EVENS: A function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
          if a%2 != 0 or b%2 != 0:
            if a > b:
                return a
            else:
                return b

In [23]:
lesser_of_two_evens(15,2)

15

In [24]:
lesser_of_two_evens(15,57)

57

In [33]:
#LESSER OF TWO EVENS: A function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
       if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b
        if a%2 != 0 or b%2 != 0:
            if a > b:
                return a
            else:
                return b

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [26]:
#Solution
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [27]:
lesser_of_two_evens(15,57)

57

In [28]:
lesser_of_two_evens(14,22)

14

In [34]:
# ANIMAL CRACKERS: A function takes a two-word string and returns True if both words begin with same letter

def animal_crackers(text):
    mylist = list(text)
    if mylist[0][0] == mylist[1][0]:
        return True
    else:
        return False

In [35]:
animal_crackers('Crazy Kangaroo')

False

In [36]:
animal_crackers('Levelheaded Llama')

False

In [38]:
#solution for ANIMAL CRACKERS
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [39]:
animal_crackers('Levelheaded Llama')

True

In [43]:
# ANIMAL CRACKERS: A function takes a two-word string and returns True if both words begin with same letter

def my_animal_crackers(text):
    mylist = text.split()
   # mylist = list(text)
    if mylist[0][0] == mylist[1][0]:
        return True
    else:
        return False

In [44]:
my_animal_crackers('Levelheaded Llama')

True

In [45]:
animal_crackers('Crazy Kangaroo')

False

In [52]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

def makes_twenty(x,y):
    return x+y == 20 or x == 20 or y == 20

In [53]:
makes_twenty(20,10)

True

In [54]:
makes_twenty(2,3)

False

In [55]:
# OLD MACDONALD: A function that capitalizes the first and fourth letters of a name

In [59]:
def old_macdonald(name):
    namelist = name.split()
    namelist[3] = namelist[3].toupper()
    return namelist

In [60]:
old_macdonald('macdonald')

IndexError: list index out of range

In [2]:
name = 'macdonald'

In [3]:
name

'macdonald'

In [4]:
name[:3]

'mac'

In [5]:
name[3:]

'donald'

In [6]:
name[:3].capitalize()

'Mac'

In [7]:
name[3:].capitalize()

'Donald'

In [8]:
name[:3].capitalize() + name[3:].capitalize()

'MacDonald'

In [9]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [10]:
old_macdonald('Mar')

'Name is too short!'

In [11]:
old_macdonald('macdonald')

'MacDonald'

In [37]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

def master_yoda(text):
    words = text.split()
    #rewords = words.reverse()
    return words

In [21]:
master_yoda('I am home')

['I', 'am', 'home']

In [22]:
text = ['I', 'am', 'home']

In [30]:
n = text.reverse()

TypeError: 'NoneType' object is not iterable

In [25]:
n

In [39]:
text = ['I', 'am', 'home']

In [50]:
text[::-1]

['home', 'am', 'I']

In [55]:
text[::3]

['I']

In [51]:
text[:-1]

['I', 'am']

In [42]:
" ".join(text[:3])

'I am home'

In [38]:
master_yoda('I am home')

'I am home'

In [56]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

def master_yoda(text):
    words = text.split()
    new = " ".join(words[::-1])    
    return new

In [57]:
master_yoda('I am home')

'home am I'

In [58]:
master_yoda('We are ready')

'ready are We'

In [59]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

def almost_there(n):
    return n < (200+10) or n (100+10)

In [60]:
almost_there(104)

True

In [63]:
almost_there(150)

True

In [64]:
#Solution
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [65]:
almost_there(150)

False

In [3]:
#FIND 33: Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

def has_33(nums):
    for n in nums:
        return nums[n] == nums[(n+1)]

In [14]:
#FIND 33: Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

def has_33(nums):
    for n in nums:
        return nums[n] == 3 and nums[(n+1)] ==3

In [15]:
has_33([1, 3, 3])

True

In [16]:
has_33([1, 3, 1, 3])

False

In [17]:
has_33([3, 1, 3])

IndexError: list index out of range

In [9]:
num = [1, 3, 3, 1]

In [13]:
range(0, len(num)-1)

range(0, 3)

range(0, 3)

In [20]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [21]:
has_33([1, 3, 3])

True

In [22]:
has_33([1, 3, 1, 3])

False

In [23]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [24]:
has_33([1, 3, 3])

True

In [25]:
has_33([1, 3, 1, 3])

False

In [14]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

def paper_doll(text):
    for i in range(0, len(text)-1):
        newtext = (text[i]*3)
    return newtext

In [15]:
paper_doll('Hello')

'lll'

In [4]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

def paper_doll(text):
        newtext = ''
        for i in text:
            newtext += i*3
        return newtext

In [5]:
paper_doll('Hello')

'HHHeeellllllooo'

In [6]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [25]:
# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    if sum((a,b,c)) > 21 and (a == 11 or b==11 or c==11):
        sm = (sum((a,b,c))-10)
        if sm > 21:
            return 'BUST'
        return sm

In [26]:
blackjack(5,6,7)

18

In [27]:
blackjack(9,9,9)

In [28]:
blackjack(9,9,11)

19

In [29]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [30]:
blackjack(9,9,11)

19

In [31]:
blackjack(9,9,9)

'BUST'

In [32]:
blackjack(5,6,7)

18

In [10]:
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers

def summer_69(arr):
    #newarray = arr.split()
    arrsum = 0
    for i in arr:
        arrsum += i
        return arrsum

In [11]:
summer_69([1, 3, 5])

1

In [ ]:
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers

def summer_69(arr):
    #newarray = arr.split()
    arrsum = 0
    for i in arr:
        arrsum += i
        return arrsum
    if [6,9] in arr and

In [12]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [13]:
summer_69([1, 3, 5])

9

In [14]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [15]:
summer_69([2, 1, 6, 9, 11])

14

In [6]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

def spy_game(arr):
    for i in arr:
        if arr[i:i+3] == [0,0,7]:
            return True
        else:
            return False

In [7]:
spy_game([1,2,4,0,0,7,5])

False

In [8]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [9]:
spy_game([1,2,4,0,0,7,5])

True

In [10]:
spy_game([1,0,2,4,0,5,7])

True

In [11]:
spy_game([1,7,2,0,4,5,0])

False

In [17]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

def count_primes(num):
    arr = list(range(2,num))
    count = 0
    for i in arr:
        if i%2 !=0 and i%3 !=0 and i%4 !=0 and i%6 !=0 and i%4 !=0:
            count += i
            return count

In [18]:
count_primes(10)

5

In [19]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [20]:
count_primes(10)

[2, 3, 5, 7]

4

In [21]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [22]:
count_primes(10)

[2, 3, 5, 7]

4