In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(3,19):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [5]:
for i in range(3,19,2):
    print(i)

3
5
7
9
11
13
15
17

In [6]:
range(2,87,7)

range(2, 87, 7)

In [7]:
list(range(2,87,7))

[2, 9, 16, 23, 30, 37, 44, 51, 58, 65, 72, 79, 86]

In [8]:
word = 'abcdef'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [10]:
list1 = [1,2,3]
list2 = ['a', 'b', 'c']

In [12]:
z = zip(list1,list2)

In [14]:
for i in (z):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [16]:
print (list(z))

[]

In [1]:
new_list = []

In [2]:
new_list

[]

In [3]:
a_string = 'solar'

In [4]:
for i in a_string:
    new_list.append(i)

In [5]:
new_list

['s', 'o', 'l', 'a', 'r']

In [6]:
list2 =  []

In [7]:
list2 = [i for i in a_string]

In [8]:
list2

['s', 'o', 'l', 'a', 'r']

In [9]:
 list2 = [i for i in range(2,19)]

In [10]:
list2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [12]:
 list2 = [i**2 for i in range(2,19)]

In [13]:
list2

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]

In [27]:
fahrenheit_temp = [32, 50, 68, 94.1, 33.8]

In [28]:
celcius_temp = [((((33.8*f) - 32))*(5/9)) for f in fahrenheit_temp]

In [29]:
celcius_temp

[583.1111111111111,
 921.111111111111,
 1259.1111111111109,
 1749.211111111111,
 616.911111111111]

In [31]:
list3 = []

for x in [2,4,6]:
    for y in [1,10,100]:
        list3.append(x*y)

In [32]:
list3

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [33]:
list3 = [x*y for x in [1,2,3] for y in [10, 100, 1000] ]

In [41]:
list3

[100, 20, 30, 200, 1000, 2000, 300, 3000, 10]

In [36]:
range(3)

range(0, 3)

In [37]:
from random import shuffle

In [39]:
random_list = shuffle(list3)

In [40]:
random_list

In [45]:
list4 = [1,2,3,4,5,6,7,8,9]

In [46]:
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
list3

[100, 20, 30, 200, 1000, 2000, 300, 3000, 10]

In [48]:
random_list = shuffle(list4)

In [49]:
list4

[7, 6, 1, 3, 2, 5, 8, 9, 4]

In [51]:
random_list = shuffle(list4)

In [52]:
list4

[9, 1, 5, 3, 2, 6, 8, 7, 4]

In [53]:
random_list = shuffle(list3)

In [54]:
list3

[10, 300, 100, 2000, 200, 20, 30, 3000, 1000]

In [55]:
from random import randint

In [60]:
randint(89,450)

120

In [66]:
user_number = input('Enter a number: ')

Enter a number: 87

In [67]:
user_number

'87'